node_modules/
npm-debug.log*
.DS_Store
.env
*.env

files/
PS4Games/
PS5Games/

src/public/ps5-relapse/
src/public/ps5-payloads/
src/public/ps5-homebrew/

# Ignore downloaded game covers/thumbnails
src/public/images/*
src/public/thumbnail/*

# Keep folders in git
!src/public/images/.gitkeep
!src/public/thumbnail/.gitkeep

BACKUP/
screenshots/
dist/
RELEASE_NOTES.md
